body {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 1em;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 0 1em;
}

nav ul li:first-of-type {
  padding: 0;
}

address {
  font-style: normal;
}

#heading {
  border-bottom: 4px double #ccc;
}

code, samp {
  padding: 0 7px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}

pre code, pre samp {
  display: block;
  padding: 7px;
  overflow: auto;
}

.code-sample pre {
  margin: 0;
}

.code-sample figcaption {
  display: block;
  background-color: #eee;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 8px;
}

aside {
  padding: 0 8px;
  background-color: #eaeafa;
  border: 1px solid #ccc;
}

.articles {
  list-style: none;
  padding-left: 0;
}

.articles li {
  padding-bottom: 0.5em;
  margin: 0.5em 0;
}
