---
layout: "default"
---

<h1>About</h1>

<p>My name is Adam Sheehan and I work as a web developer in the Boston area.</p>

<address>GitHub: <a rel="author" href="https://github.com/atsheehan">atsheehan</a></address>
